In [2]:
import pandas as pd
import xlrd

In [3]:
#Reading .xlsx file

df = pd.read_excel("C:\\Users\JANHVI TIWARI\Dropbox\My PC (Janhvi)\Downloads\Financial Sample.xlsx", "Sheet1")
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [3]:
#Reading .csv file

df = pd.read_csv("C:\\Users\JANHVI TIWARI\Dropbox\My PC (Janhvi)\Downloads\Financial Sample.csv")
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [4]:
#Creating data frame from a Python Dictionary

empdata = {"segment" : ["Government", "Government", "Midmarket", "Midmarket", "Midmarket"],
          "country" : ["Canada", "Germany", "France", "Germany", "Mexico"],
          "product" : ["Carretera", "Carretera", "Carretera", "Carretera", "Carretera"]
          }

In [5]:
df = pd.DataFrame(empdata)
df

      segment  country    product
0  Government   Canada  Carretera
1  Government  Germany  Carretera
2   Midmarket   France  Carretera
3   Midmarket  Germany  Carretera
4   Midmarket   Mexico  Carretera

In [6]:
empdata = [('Goverment', 'Canada', 'Carretera'),
          ('Government', 'Germany', 'Carretera'),
          ('Midmarket', 'France', 'Carretera'),
          ('Midmarket', 'Germany', 'Carretera'),
          ('Midmarket', 'Mexico', 'Carretera')]

In [7]:
#Creating Data Frame from python list of tuples

df = pd.DataFrame(empdata, columns=["country", "segment", "product"])
df

      country  segment    product
0   Goverment   Canada  Carretera
1  Government  Germany  Carretera
2   Midmarket   France  Carretera
3   Midmarket  Germany  Carretera
4   Midmarket   Mexico  Carretera

In [8]:
#Operations of Data Frames
df = pd.read_csv("C:\\Users\JANHVI TIWARI\Dropbox\My PC (Janhvi)\Downloads\Financial Sample.csv")

In [9]:
#Knowing number of rows and columns

df.shape

(700, 16)

In [10]:
r, c = df.shape
print(r)

700

In [11]:
#Retrieving Rows from Data Frame
df.head()  #for first 5 rows

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014

In [12]:
df.tail()  #for last 5 rows

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [13]:
df.head(2) #only 2 rows

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014

In [14]:
df.tail(2) #only 2 tail

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [15]:
#Retrieving a Range of Rows
df[2:5]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014

In [16]:
df[0::2]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
6,Midmarket,Germany,Montana,None,$921.00,$5.00,$15.00,"$13,815.00",$-,"$13,815.00","$9,210.00","$4,605.00",3/1/2014,3,March,2014
8,Government,France,Montana,None,"$1,899.00",$5.00,$20.00,"$37,980.00",$-,"$37,980.00","$18,990.00","$18,990.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,Government,United States of America,VTT,High,$267.00,$250.00,$20.00,"$5,340.00",$801.00,"$4,539.00","$2,670.00","$1,869.00",10/1/2013,10,October,2013
692,Enterprise,Canada,VTT,High,"$2,954.00",$250.00,$125.00,"$369,250.00","$55,387.50","$313,862.50","$354,480.00","$(40,617.50)",11/1/2013,11,November,2013
694,Government,France,VTT,High,$293.00,$250.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",12/1/2014,12,December,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014

In [17]:
df[5:0:-1] #row in reverse order

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014

In [18]:
#To Retrieve Column Names
df.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [19]:
df.Segment

0            Government
1            Government
2             Midmarket
3             Midmarket
4             Midmarket
             ...
695      Small Business
696      Small Business
697          Government
698          Government
699    Channel Partners
Name: Segment, Length: 700, dtype: object

In [20]:
df['Segment']

0            Government
1            Government
2             Midmarket
3             Midmarket
4             Midmarket
             ...
695      Small Business
696      Small Business
697          Government
698          Government
699    Channel Partners
Name: Segment, Length: 700, dtype: object

In [21]:
#Retrieving Data from Multiple Columns
df[['Segment', 'Country']]

              Segment                   Country
0          Government                    Canada
1          Government                   Germany
2           Midmarket                    France
3           Midmarket                   Germany
4           Midmarket                    Mexico
..                ...                       ...
695    Small Business                    France
696    Small Business                    Mexico
697        Government                    Mexico
698        Government                    Canada
699  Channel Partners  United States of America

[700 rows x 2 columns]

In [22]:
#Finding max and min values
df['Month Number'].max()

12

In [23]:
df['Month Number'].min()

1

In [33]:
#Displaying Statistical Information
df.describe()

       Month Number         Year
count    700.000000   700.000000
mean       7.900000  2013.750000
std        3.377321     0.433322
min        1.000000  2013.000000
25%        5.750000  2013.750000
50%        9.000000  2014.000000
75%       10.250000  2014.000000
max       12.000000  2014.000000

In [24]:
#Performing queries on data
df[df['Month Number']>5]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
7,Channel Partners,Canada,Montana,None,"$2,518.00",$5.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,Midmarket,Germany,VTT,High,"$1,175.00",$250.00,$15.00,"$17,625.00","$2,643.75","$14,981.25","$11,750.00","$3,231.25",10/1/2014,10,October,2014
692,Enterprise,Canada,VTT,High,"$2,954.00",$250.00,$125.00,"$369,250.00","$55,387.50","$313,862.50","$354,480.00","$(40,617.50)",11/1/2013,11,November,2013
693,Enterprise,Germany,VTT,High,$552.00,$250.00,$125.00,"$69,000.00","$10,350.00","$58,650.00","$66,240.00","$(7,590.00)",11/1/2014,11,November,2014
694,Government,France,VTT,High,$293.00,$250.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",12/1/2014,12,December,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014

In [25]:
df[df['Month Number'] == df['Month Number'].max()]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
15,Midmarket,United States of America,Montana,None,$615.00,$5.00,$15.00,"$9,225.00",$-,"$9,225.00","$6,150.00","$3,075.00",12/1/2014,12,December,2014
28,Midmarket,Canada,Paseo,None,"$2,152.00",$10.00,$15.00,"$32,280.00",$-,"$32,280.00","$21,520.00","$10,760.00",12/1/2013,12,December,2013
29,Government,Canada,Paseo,None,"$1,817.00",$10.00,$20.00,"$36,340.00",$-,"$36,340.00","$18,170.00","$18,170.00",12/1/2014,12,December,2014
30,Government,Germany,Paseo,None,"$1,513.00",$10.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,Channel Partners,United States of America,Paseo,High,$914.00,$10.00,$12.00,"$10,968.00","$1,645.20","$9,322.80","$2,742.00","$6,580.80",12/1/2014,12,December,2014
681,Government,France,Paseo,High,$293.00,$10.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",12/1/2014,12,December,2014
686,Enterprise,United States of America,Velo,High,"$2,438.00",$120.00,$125.00,"$304,750.00","$45,712.50","$259,037.50","$292,560.00","$(33,522.50)",12/1/2013,12,December,2013
687,Channel Partners,United States of America,Velo,High,$914.00,$120.00,$12.00,"$10,968.00","$1,645.20","$9,322.80","$2,742.00","$6,580.80",12/1/2014,12,December,2014
694,Government,France,VTT,High,$293.00,$250.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",12/1/2014,12,December,2014

In [26]:
df[['Segment', 'Country']][df['Month Number'] > 6]

            Segment  Country
5        Government  Germany
11       Enterprise   Canada
12   Small Business   Mexico
13       Government  Germany
14       Enterprise   Canada
..              ...      ...
691       Midmarket  Germany
692      Enterprise   Canada
693      Enterprise  Germany
694      Government   France
696  Small Business   Mexico

[455 rows x 2 columns]

In [27]:
#Knowing the Index Range
df.index

RangeIndex(start=0, stop=700, step=1)

In [29]:
#Setting a column as Index
df1 = df.set_index('Segment')
df1

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
Segment,,,,,,,,,,,,,,,
Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [30]:
df.set_index('Segment', inplace=True)
df

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
Segment,,,,,,,,,,,,,,,
Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [33]:
df.loc['Government']

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
Segment,,,,,,,,,,,,,,,
Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
Government,France,Montana,None,"$1,899.00",$5.00,$20.00,"$37,980.00",$-,"$37,980.00","$18,990.00","$18,990.00",6/1/2014,6,June,2014
Government,Germany,Montana,None,"$2,146.00",$5.00,$7.00,"$15,022.00",$-,"$15,022.00","$10,730.00","$4,292.00",9/1/2014,9,September,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Government,Canada,VTT,High,$865.50,$250.00,$20.00,"$17,310.00","$2,596.50","$14,713.50","$8,655.00","$6,058.50",7/1/2014,7,July,2014
Government,United States of America,VTT,High,$267.00,$250.00,$20.00,"$5,340.00",$801.00,"$4,539.00","$2,670.00","$1,869.00",10/1/2013,10,October,2013
Government,France,VTT,High,$293.00,$250.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",12/1/2014,12,December,2014
Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014

In [35]:
#Resetting the index
df.reset_index(inplace=True)
df

,index,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [36]:
#Sorting the Data
df = pd.read_csv("C:\\Users\JANHVI TIWARI\Dropbox\My PC (Janhvi)\Downloads\Financial Sample.csv", parse_dates=['Date'])

In [37]:
print(df)

              Segment                   Country     Product   Discount Band   \
0          Government                    Canada   Carretera            None
1          Government                   Germany   Carretera            None
2           Midmarket                    France   Carretera            None
3           Midmarket                   Germany   Carretera            None
4           Midmarket                    Mexico   Carretera            None
..                ...                       ...          ...             ...
695    Small Business                    France    Amarilla            High
696    Small Business                    Mexico    Amarilla            High
697        Government                    Mexico     Montana            High
698        Government                    Canada       Paseo            High
699  Channel Partners  United States of America         VTT            High

     Units Sold   Manufacturing Price   Sale Price    Gross Sales   \
0     $1,618.50                 $3.00       $20.00     $32,370.00
1     $1,321.00                 $3.00       $20.00     $26,420.00
2     $2,178.00                 $3.00       $15.00     $32,670.00
3       $888.00                 $3.00       $15.00     $13,320.00
4     $2,470.00                 $3.00       $15.00     $37,050.00
..           ...                   ...          ...            ...
695   $2,475.00               $260.00      $300.00    $742,500.00
696     $546.00               $260.00      $300.00    $163,800.00
697   $1,368.00                 $5.00        $7.00      $9,576.00
698     $723.00                $10.00        $7.00      $5,061.00
699   $1,806.00               $250.00       $12.00     $21,672.00

        Discounts          Sales           COGS        Profit        Date  \
0            $-       $32,370.00     $16,185.00    $16,185.00  2014-01-01
1            $-       $26,420.00     $13,210.00    $13,210.00  2014-01-01
2            $-       $32,670.00     $21,780.00    $10,890.00  2014-06-01
3            $-       $13,320.00      $8,880.00     $4,440.00  2014-06-01
4            $-       $37,050.00     $24,700.00    $12,350.00  2014-06-01
..             ...            ...            ...           ...        ...
695   $111,375.00    $631,125.00    $618,750.00    $12,375.00  2014-03-01
696    $24,570.00    $139,230.00    $136,500.00     $2,730.00  2014-10-01
697     $1,436.40      $8,139.60      $6,840.00     $1,299.60  2014-02-01
698       $759.15      $4,301.85      $3,615.00       $686.85  2014-04-01
699     $3,250.80     $18,421.20      $5,418.00    $13,003.20  2014-05-01

     Month Number  Month Name   Year
0               1     January   2014
1               1     January   2014
2               6        June   2014
3               6        June   2014
4               6        June   2014
..            ...          ...   ...
695             3       March   2014
696            10     October   2014
697             2    February   2014
698             4       April   2014
699             5         May   2014

[700 rows x 16 columns]

In [39]:
#Sorting in Ascending Order
df1 = df.sort_values('Date')
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
202,Government,Canada,Velo,Low,"$2,646.00",$120.00,$20.00,"$52,920.00","$2,116.80","$50,803.20","$26,460.00","$24,343.20",2013-09-01,9,September,2013
626,Enterprise,France,Carretera,High,"$1,023.00",$3.00,$125.00,"$127,875.00","$17,902.50","$109,972.50","$122,760.00","$(12,787.50)",2013-09-01,9,September,2013
336,Midmarket,United States of America,Paseo,Medium,"$2,931.00",$10.00,$15.00,"$43,965.00","$3,077.55","$40,887.45","$29,310.00","$11,577.45",2013-09-01,9,September,2013
179,Government,United States of America,Velo,Low,$736.00,$120.00,$20.00,"$14,720.00",$588.80,"$14,131.20","$7,360.00","$6,771.20",2013-09-01,9,September,2013
523,Midmarket,Mexico,Velo,High,$655.00,$120.00,$15.00,"$9,825.00","$1,080.75","$8,744.25","$6,550.00","$2,194.25",2013-09-01,9,September,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,Midmarket,Mexico,Montana,High,"$2,157.00",$5.00,$15.00,"$32,355.00","$3,559.05","$28,795.95","$21,570.00","$7,225.95",2014-12-01,12,December,2014
164,Enterprise,Germany,Paseo,Low,"$1,706.00",$10.00,$125.00,"$213,250.00","$6,397.50","$206,852.50","$204,720.00","$2,132.50",2014-12-01,12,December,2014
163,Enterprise,France,Paseo,Low,"$1,287.00",$10.00,$125.00,"$160,875.00","$4,826.25","$156,048.75","$154,440.00","$1,608.75",2014-12-01,12,December,2014
44,Government,Canada,VTT,None,"$1,817.00",$250.00,$20.00,"$36,340.00",$-,"$36,340.00","$18,170.00","$18,170.00",2014-12-01,12,December,2014
451,Government,Mexico,VTT,Medium,$521.00,$250.00,$7.00,"$3,647.00",$328.23,"$3,318.77","$2,605.00",$713.77,2014-12-01,12,December,2014

In [40]:
#Sorting in Descending Order
df1 = df.sort_values('Date', ascending=False)
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
681,Government,France,Paseo,High,$293.00,$10.00,$20.00,"$5,860.00",$879.00,"$4,981.00","$2,930.00","$2,051.00",2014-12-01,12,December,2014
572,Government,Germany,Paseo,High,"$1,531.00",$10.00,$20.00,"$30,620.00","$3,674.40","$26,945.60","$15,310.00","$11,635.60",2014-12-01,12,December,2014
154,Enterprise,Germany,Montana,Low,"$1,706.00",$5.00,$125.00,"$213,250.00","$6,397.50","$206,852.50","$204,720.00","$2,132.50",2014-12-01,12,December,2014
680,Channel Partners,United States of America,Paseo,High,$914.00,$10.00,$12.00,"$10,968.00","$1,645.20","$9,322.80","$2,742.00","$6,580.80",2014-12-01,12,December,2014
52,Midmarket,United States of America,Amarilla,None,$615.00,$260.00,$15.00,"$9,225.00",$-,"$9,225.00","$6,150.00","$3,075.00",2014-12-01,12,December,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Channel Partners,United States of America,Amarilla,Low,"$1,989.00",$260.00,$12.00,"$23,868.00",$238.68,"$23,629.32","$5,967.00","$17,662.32",2013-09-01,9,September,2013
314,Government,Mexico,Carretera,Medium,"$1,834.00",$3.00,$20.00,"$36,680.00","$2,567.60","$34,112.40","$18,340.00","$15,772.40",2013-09-01,9,September,2013
205,Government,United States of America,VTT,Low,$349.00,$250.00,$350.00,"$122,150.00","$4,886.00","$117,264.00","$90,740.00","$26,524.00",2013-09-01,9,September,2013
433,Channel Partners,France,VTT,Medium,"$2,234.00",$250.00,$12.00,"$26,808.00","$2,412.72","$24,395.28","$6,702.00","$17,693.28",2013-09-01,9,September,2013
202,Government,Canada,Velo,Low,"$2,646.00",$120.00,$20.00,"$52,920.00","$2,116.80","$50,803.20","$26,460.00","$24,343.20",2013-09-01,9,September,2013

In [42]:
df1 = df.sort_values(by=['Date', 'Month Number'], ascending=[False, True])
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",2014-12-01,12,December,2014
15,Midmarket,United States of America,Montana,None,$615.00,$5.00,$15.00,"$9,225.00",$-,"$9,225.00","$6,150.00","$3,075.00",2014-12-01,12,December,2014
29,Government,Canada,Paseo,None,"$1,817.00",$10.00,$20.00,"$36,340.00",$-,"$36,340.00","$18,170.00","$18,170.00",2014-12-01,12,December,2014
30,Government,Germany,Paseo,None,"$1,513.00",$10.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",2014-12-01,12,December,2014
44,Government,Canada,VTT,None,"$1,817.00",$250.00,$20.00,"$36,340.00",$-,"$36,340.00","$18,170.00","$18,170.00",2014-12-01,12,December,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Channel Partners,Canada,Amarilla,High,"$2,761.00",$260.00,$12.00,"$33,132.00","$3,975.84","$29,156.16","$8,283.00","$20,873.16",2013-09-01,9,September,2013
580,Government,Germany,Carretera,High,$442.00,$3.00,$20.00,"$8,840.00","$1,149.20","$7,690.80","$4,420.00","$3,270.80",2013-09-01,9,September,2013
602,Midmarket,Germany,Velo,High,$660.00,$120.00,$15.00,"$9,900.00","$1,287.00","$8,613.00","$6,600.00","$2,013.00",2013-09-01,9,September,2013
626,Enterprise,France,Carretera,High,"$1,023.00",$3.00,$125.00,"$127,875.00","$17,902.50","$109,972.50","$122,760.00","$(12,787.50)",2013-09-01,9,September,2013
639,Midmarket,Canada,Paseo,High,"$2,470.00",$10.00,$15.00,"$37,050.00","$5,187.00","$31,863.00","$24,700.00","$7,163.00",2013-09-01,9,September,2013

In [43]:
#Handling Missing Data
#fillna() method to replace the Na and NaN values by a specified value
df1 = df.fillna(0)
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",2014-05-01,5,May,2014

In [44]:
df1 = df.fillna({'Segment' : 'Name Missing', 'Sales' : 0.0, 'Date' : '00-00-00'})
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",2014-05-01,5,May,2014

In [45]:
#Want to remove thst rows those having Na or NaN values then use dropna() method
df1 = df.dropna()
df1

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",2014-05-01,5,May,2014